/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color, #000028, #fff1f7);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: var(--font-size, 18px);
}


/* Шапка */
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  min-height: 668px;
  height: 100vh;
  padding: 10px;
  margin-bottom: 43px;
}

/* Заголовок */
.main-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
  align-self: center;
  text-align: left;
  color: var(--heading-color);
  line-height: 0.8;

}


/* Навигация с кнопками тем */
.header__theme-menu {
  justify-self: end;
  align-self: center;
  padding-right: 6px;

}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: none;
  border: 1px solid transparent;
  color: var(--menu-color);
  font-size: inherit;
  line-height: 1;
  text-transform: lowercase;
  padding: 3px 15px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: var(--menu-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover-border);

}

.header__theme-menu-button:focus-visible {
  border-bottom-color: var(--menu-color);
  outline: none;
}

/* Подзаголовок в шапке */
.header__subtitle {
  align-self: center;
  max-width: 355px;
  width: 100vh;
  margin-right: 10px;
  color: var(--header-subtitle-text);
}



.title-decor {
  background-color: var(--accent-color);
  color: var(--header-subtitle-text);
  font-weight: bold;
}

/* Декоративные уголки (общий класс decorated-zone) */
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--border-color);
}

/* Правый верхний угол */
.decorated-zone::before {
  top: 1px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

/* Левый нижний угол */
.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

/* main */

.content-section {
  margin-bottom: 50px;
  padding-inline: 10px;
}

.content-section_title {
  font-weight: bold;
  font-size: inherit;
  color: var(--menu-color);
  margin-bottom: 20px;
}

.article-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block_title {
  font-size: inherit;
  font-weight: bold;
  background-color: var(--accent-color);
  color: var(--title-block-color);

}

.section_how .block_title {
  font-weight: normal;
  background-color: var(--accent-color);
}

.title_how {
  margin-bottom: 10px;
}

.block p {
  line-height: 23.4px;
  color: var(--text-color);
}

.block a {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  color: currentColor;
}

.block a:hover {
  border-bottom: 1px solid var(--text-color);
}

.block a:focus-visible {
  outline: 1px solid var(--text-color);
}


.grid {
  display: grid;

}


.grid__image {
  padding-top: 10px;
  inline-size: 100%;
}


.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 658px;
  height: 100vh;
}



@media (min-width: 768px) {

  .header {
    min-height: 1024px;
    height: 100vh;
    align-self: center;
    margin-bottom: 60px;
  }

  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -10px;
  }

  .header__theme-menu {
    margin-right: 2px;
    padding-top: 5px;

  }

  .header__subtitle {
    justify-self: right;
    min-width: 364px;
    margin-bottom: 10px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;

  }


  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-left: 20px;
    padding-inline: 20px;

  }

  .section_reasons {
    display: block;
  }

  .title_reasons {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 30px;
  }

  .section_reasons .article-list {
    padding-top: 25px;
  }

  .section_how {
    padding-top: 30px;
    gap: 20px
  }

  .title_how {
    margin-top: 10px;
  }

  .block_title_text {
    margin-top: -10px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-heading {
    grid-column: 1/-1;
    margin-top: 30px;
  }

  .grid__image {
    block-size: 100%;
    object-fit: cover;
    object-position: center;
    padding-top: 1px;
  }

  .grid__image:first-of-type {
    grid-column: span 2;
  }

  .grid__image:nth-of-type(2) {
    grid-row: span 2;
  }

  .grid__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .grid__image:last-of-type {
    grid-column: span 2;
  }

  .footer {
    min-height: 1040px;
    height: 100vh;
  }

}



@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding: 10px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header {
    min-height: 768px;
    height: 100vh;
  }

  .header__subtitle {
    max-width: 491px;
  }

  .block {
    margin-left: -5px;

  }

  .content-section {
    display: grid;
    grid-template-columns: none;

  }

  .section_why,
  .section_how {
    grid-template-columns: 1fr 2fr;
  }

  .section_why .article-list,
  .section_how .article-list {
    grid-column: 2 / -1;
  }

  .section_reasons {
    grid-template-columns: 1fr;
  }

  .section_reasons .article-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: auto;
    padding-left: 5px;
    padding-top: 20px;

  }

  .content-section_title {
    margin-bottom: -20px;
  }


  .section_how {
    padding-top: 30px;
    margin-bottom: 50px;

  }


  .grid {
    grid-template-columns: repeat(3, 1fr);
  }


  .footer {
    min-height: 768px;
    height: 100vh;
    margin-top: 60px;
  }

}