/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* Фоновое изображение (для тёмной темы) */
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --text-color: #353430;
  --heading-color: #FFC2E6;
  --accent-color: #FF8DCB;
}

  .theme-light .header__rec {
    display: none;
  }
